Unidecode==0.04.16
appdirs==1.4.0
decorator==3.4.0
git+git://github.com/simon-weber/gmusicapi.git#egg=gmusicapi
httplib2==0.9
lxml==3.4.0
mock==1.0.1
mutagen==1.24
oauth2client==1.2
proboscis==1.2.6.0
protobuf==2.6.0
python-dateutil==2.2
requests==2.10.0
six==1.10.0
termcolor==1.1.0
validictory==0.9.3
wsgiref==0.1.2
